html
    head 
        title Following Page 
        link(rel='stylesheet', href='/stylesheets/home.css')
        script(src='/javascripts/likesClient.js')
    body 
        div#header 
            div(class="icons")
                a(href= "/user/home") Home
                br
                br
                a(href="/user/notifications")
                    img(src="/images/bell.png", id="bell")
                if user.isArtist
                    br
                    img(src="/images/brush.png", id="brush")
            a(href="/user/liked") Liked
            |
            |
            |
            if user.reviews.length>0
                a(href="/user/reviews") Your Reviews
            |
            |
            |
            if user.registered.length > 0
                a(href="/user/enrolled") Enrolled 
            |
            |
            |
            div(class="header-buttons")
                form(action="/user/logout", method="GET")
                    input(id ='logout' value='Logout', type='submit')
                form(action="/user/patron", method="PUT")
                    input(id ='patron' value='Reset Patron', type='submit')


            
        div#main 
            h2 Welcome to Following Page!
            h3 Here, you can view the work of all the artists you follow.
            
            each piece in artwork
                div(class="individual")
                    a(href= "artists/" + piece.artist) #{piece.artist}
                    br
                    br
                    img(src= piece.image, id="img")
                    br
                    p Likes: #{piece.likes}
                    if !user.titles.includes(piece.artist)
                        input(id =piece.name, value='Like', type='button', onclick="like()") 
                    else 
                        p Published by you!
                    