html
    head 
        title Home Page 
        link(rel='stylesheet', href='/stylesheets/home.css')
        script(src='/javascripts/likesClient.js')
    body
        div#header      
            div(class="icons")
                a(href="/user/liked" , id="header-links") Liked
                br
                br
                a(href="/user/notifications")
                    img(src="/images/bell.png", id="bell")
                if user.isArtist
                    br
                    img(src="/images/brush.png", id="brush")
            a(href="/user/following" , id="header-links") Following 
            |
            |
            |
            a(href="/user/upload", id="header-links") Upload
            |
            |
            |  
            if user.reviews.length>0
                a(href="/user/reviews", id="header-links") Your Reviews
            |
            |
            |
            a(href="/user/catalogue", id="header-links") Your Work
            |
            |
            |
            a(href="/user/createWorkshop", id="header-links") Create Workshop
            |
            |
            |
            if user.registered.length > 0
                a(href="/user/enrolled", id="header-links") Enrolled 
            |
            |
            |
            if user.workshops.length > 0
                a(href="/user/viewShops/"+user.username , id="header-links") View Your Workshops
            |
            |
            |
            div(class="header-buttons")
                form(action="/user/logout", method="GET")
                    input(id ='logout' value='Logout', type='submit')
                form(action="/user/patron", method="PUT")
                    input(id ='patron' value='Reset Patron', type='submit')
            
            
        div#main 
            div(class="main-header")
                div#welcome
                    h1 Welcome to Home Page!
                    h3 All Art in the Gallery can be seen here!
                div#search
                    form(action="/user/search", method="POST")
                        div#look-box
                            p Lookup Type
                            select(id='lookup', name='search')
                                option(value="Year") Year
                                option(value="Artist") Artist
                                option(value="Category") Category
                                option(value="Medium") Medium

                        |Search by Keyword:
                        input(id ='search',name="lookup", type='text')
                        input(id ='searchbox', value='Go', type='submit')

            div(class="gallery")
                each piece in artwork
                    div(class="individual")
                        if !user.titles.includes(piece.artist)
                            a(href= "artists/" + piece.artist) Author: #{piece.artist}
                        else 
                            a(href= "artists/" + piece.artist) You
                        |
                        |
                        |
                        br
                        a(href= "piece/" + piece.name) Title: #{piece.name}
                        br
                        if !user.titles.includes(piece.artist)
                            a(href="/user/review/"+piece.name, id="review-link") Leave a Review
                            br
                        a(href="/user/seeReviews/"+piece.name, id="view-reviews") See Reviews
                        br
                        img(src= piece.image, id="img")
                        p Likes: #{piece.likes}
                        if !user.titles.includes(piece.artist)
                            input(class="like",id =piece.name, value='Like', type='button', onclick="like()")
                        else 
                            p Published by you!
                        br