html
    head 
        title Personal Catalogue Page 
        link(rel='stylesheet', href='/stylesheets/home.css')
    body 
        div#header 
            div(class="icons")
                a(href= "/user/home") Home
                br
                br
                a(href="/user/notifications")
                    img(src="/images/bell.png", id="bell")
                if user.isArtist
                    br
                    img(src="/images/brush.png", id="brush")
            a(href="/user/liked") Liked
            |
            |
            |
            a(href="/user/following") Following 
            |
            |
            |
            if user.reviews.length>0
                a(href="/user/reviews") Your Reviews
            |
            |
            |
            if user.registered.length > 0
                a(href="/user/enrolled") Enrolled 
            |
            |
            |
            div(class="header-buttons")
                form(action="/user/logout", method="GET")
                    input(id ='logout' value='Logout', type='submit')
                form(action="/user/patron", method="PUT")
                    input(id ='patron' value='Reset Patron', type='submit')


            
        div#main 
            h2 Welcome to the Personal Catalogue Page!
            h3 Here, you can view all the art you have uploaded.
            
            each piece in artwork
                div(class="individual")
                    p Title:  #{piece.name}
                    img(src= piece.image, id="img")
                    br