html
    head 
        title Login Page
        link(rel='stylesheet', href='/stylesheets/login.css')
        script(src='/javascripts/registerClient.js')

    body 
        div#header 
            h3 Welcome to the Registration Page!

        div#main 
            div(class="login")
                form(action="/user/register", method="POST")
                    h4 Enter Your New Credentials
                    |Enter Username: 
                    input(name='username', id='username', type='text')
                    br
                    br
                    |Enter Password: 
                    input(name='password', id='password', type='password')
                    br
                    br
                    input(id ='register', value='Create Account', type='submit', onclick="verify()")