html
    head 
        title Enrolled Page 
        link(rel='stylesheet', href='/stylesheets/home.css')
        script(src='/javascripts/likesClient.js')
    body 
        div#header 
            div(class="icons")
                a(href= "/user/home") Home
                br
                br
                a(href="/user/notifications")
                    img(src="/images/bell.png", id="bell")
                if user.isArtist
                    br
                    img(src="/images/brush.png", id="brush")
            a(href="/user/following") Following
            |
            |
            |
            if user.reviews.length>0
                a(href="/user/reviews") Your Reviews
            |
            |
            |
            div(class="header-buttons")
                form(action="/user/logout", method="GET")
                    input(id ='logout' value='Logout', type='submit')
                form(action="/user/patron", method="PUT")
                    input(id ='patron' value='Reset Patron', type='submit')


            
        div#main 
            h2 Enrolled
            h3 Here, you can view the workshops that you've enrolled in!
            
            each course in user.registered
                div(class="individual")
                    p Workshop Name: #{course}
                    br